#q1{
    width: 900px;
    height: 700px;
    background-image: url('question/1.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q2{
    width: 900px;
    height: 700px;
    background-image: url('question/2.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q3{
    width: 900px;
    height: 700px;
    background-image: url('question/3.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q4{
    width: 900px;
    height: 700px;
    background-image: url('question/4.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q5{
    width: 900px;
    height: 700px;
    background-image: url('question/5.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q6{
    width: 900px;
    height: 700px;
    background-image: url('question/6.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q7{
    width: 900px;
    height: 700px;
    background-image: url('question/7.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q8{
    width: 900px;
    height: 700px;
    background-image: url('question/8.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q9{
    width: 900px;
    height: 700px;
    background-image: url('question/9.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q10{
    width: 900px;
    height: 700px;
    background-image: url('question/10.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q11{
    width: 900px;
    height: 700px;
    background-image: url('question/11.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q12{
    width: 900px;
    height: 700px;
    background-image: url('question/12.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q13{
    width: 900px;
    height: 700px;
    background-image: url('question/13.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q14{
    width: 900px;
    height: 700px;
    background-image: url('question/14.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q15{
    width: 900px;
    height: 700px;
    background-image: url('question/15.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q16{
    width: 900px;
    height: 700px;
    background-image: url('question/16.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q17{
    width: 900px;
    height: 700px;
    background-image: url('question/17.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q18{
    width: 900px;
    height: 700px;
    background-image: url('question/18.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q19{
    width: 900px;
    height: 700px;
    background-image: url('question/19.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q20{
    width: 900px;
    height: 700px;
    background-image: url('question/20.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q21{
    width: 900px;
    height: 700px;
    background-image: url('question/21.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q22{
    width: 900px;
    height: 700px;
    background-image: url('question/22.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q23{
    width: 900px;
    height: 700px;
    background-image: url('question/23.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q24{
    width: 900px;
    height: 700px;
    background-image: url('question/24.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q25{
    width: 900px;
    height: 700px;
    background-image: url('question/25.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q26{
    width: 900px;
    height: 700px;
    background-image: url('question/26.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q27{
    width: 900px;
    height: 700px;
    background-image: url('question/27.png');
    background-size:contain;
    background-repeat:no-repeat;}

#q28{
    width: 900px;
    height: 700px;
    background-image: url('question/28.png');
    background-size:contain;
    background-repeat:no-repeat;}
